body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
}
.container {
    max-width: 1000px;
    margin: 30px auto;
    width: 100%;
}