<!DOCTYPE html>
<html>
    <head>
        <title>AirBnB clone</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="static/images/icon.png" type="image/png" sizes="32x32">
        <link rel="stylesheet" href="static/styles/4-common.css">
        <link rel="stylesheet" href="static/styles/3-header.css">
        <link rel="stylesheet" href="static/styles/3-footer.css">
        <link rel="stylesheet" href="static/styles/6-filters.css">
    </head>
    <body>
        <header>
            <div class="logo"></div>
        </header>
        <div class="container">
            <section class="filters">
                <div class="locations">
                    <h3 class="title">States</h3>
                    <h4 class="subtitle">Choose a state:</h4>
                    <ul class="popover">
                        {% for state in states.values()|sort(attribute='name') %}
                        <li>
                            <h2>{{ state.name }}</h2>
                            {% for city in state.cities|sort(attribute='name') %}
                            <ul class="list">
                                <li>{{ city.name }}</li>
                            </ul>
                            {% endfor %}
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="amenities">
                    <h3 class="title">Amenities</h3>
                    <h4 class="subtitle">Select amenities:</h4>
                    <ul class="popover">
                        {% for amenity in amenities.values()|sort(attribute='name') %}
                        <li>{{ amenity.name }}</li>
                    </ul>
                    {% endfor %}
                </div>
                <button class="search">Search</button>
            </section>
        </div>
        <footer>
            <p>Holberton School</p>
        </footer>
    </body>
</html>